{% include 'base.html' %}
{% load static %}


{% block contentblock %}
<div id="singUpErrors"></div>
<div class="mx-auto p-2 text-center" style="width: 70%; ">
    <form method="post" id="singUpform">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            {{form.username.errors}}
            <div style="width: 100%;">
                {{form.username}}
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            {{form.password1.errors}}
            <div style="width: 100%;">
                {{form.password1}}
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            {{form.password2.errors}}
            <div style="width: 100%;">
                {{form.password2}}
            </div>
        </div>
        <button type="button" onclick="submitSingUp(event)" class="btn btn-primary">Sign up</button>
        <input type="submit" style="display:none;">
    </form>
</div>
{% endblock contentblock %}
    