{% include 'base.html' %}
{% load static %}



{% block content %}

<div class="speech-wrapper">

    <div class="container px-5" id="speech"></div>

</div>
<div class="mx-auto p-2 text-right" style="width: 50%; ">
    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Message</label>
    </div>
    <div style="margin: 10px;display: flex;justify-content: right;">
        <button class="btn btn-outline-secondary" style="margin-right: 10px;" onclick="resetMessageArea()" type="reset">Reset</button>
        <button class="btn btn-outline-success" type="button" onclick="sendMessage()">Send</button>
    </div>
</div>
{% endblock content %}


{% block scripts %}
<script>
    loadMessagesFromAPI()
    startSocket()
</script>
{% endblock scripts %}
    